<p id="notice"><%= notice %></p>

<p>
  <strong>Adddatetokyujins:</strong>
  <%= @migration.AddDateToKyujins %>
</p>

<p>
  <strong>Honsyas:</strong>
  <%= @migration.honsyas %>
</p>

<p>
  <strong>Shitens:</strong>
  <%= @migration.shitens %>
</p>

<p>
  <strong>Cojous:</strong>
  <%= @migration.cojous %>
</p>

<p>
  <strong>Kinmusonotas:</strong>
  <%= @migration.kinmusonotas %>
</p>

<%= link_to 'Edit', edit_migration_path(@migration) %> |
<%= link_to 'Back', migrations_path %>
